<div class="jumbotron">
  <h2>toDo List! Free and Easy. Always Organized!</h2>
  <br>
  <h4>Trusted by Millions. Best Online Task Management App Ever!</h4>
  <br>
  <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-danger" %>
</div>
